---
import AllPosts from '../../components/AllPosts.vue';
import Layout from '../../layouts/Layout.astro';


const pageTitle = "文章列表"

const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));

export function getStaticPaths({paginate}) {
    return paginate(allPosts, { pageSize: 2 })
}

const {page} = Astro.props;

---

<Layout pageTitle={pageTitle}>
    
    <div id="AllPosts" class="flex flex-col items-center w-full">
        

            <AllPosts client:load allPosts={allPosts} />

       
    </div>
</Layout>