---
import AllPosts from '../../components/AllPosts.astro';
import Layout from '../../layouts/Layout.astro';

const pageTitle = "文章列表"
---

<Layout pageTitle={pageTitle}>
    
    <div id="AllPosts" class="flex flex-col items-center w-full">

            <AllPosts />

       
    </div>
</Layout>