@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --synthwave;
  root: ":root";
  logs: true;
}
@plugin "daisyui/theme" {
  name: "synthwave";
  --color-primary: #f2f2f2;
  --color-base-content: #f2f2f2;
}

.backdrop-blur-sm {
  z-index: 40;
}

.theme-transition {
  transition: background-color 0.4s ease, color 0.5s ease,
    background-image 0.3s ease-in-out;
}
:root {
  scrollbar-width: thin;
  scrollbar-color: #91c8f6 #ffffff;
}

body {
  background-image: url(/assets/backdrop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  scrollbar-width: ;
}

/* 在小屏幕上自动把字体缩小 */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.beforeRenderIn {
  opacity: 0;
  visibility: hidden;
}
