---
import Layout from '../layouts/Layout.astro';
import MarkdownPostLayout from '../layouts/MarkdownPostLayout.astro';
---

<MarkdownPostLayout pageTitle="关于">
    <div>
        <h1>C++ 全栈聊天项目二次开发</h1>

    <h2>项目简介</h2>

    <p>本项目是对 B 站 UP 主“恋恋风辰 zack”的 C++ 全栈聊天项目的二次开发，主要完成以下周边工作，解决了代码编写以外的问题：</p>

    <ul>
        <li><strong>服务器 Linux 移植</strong></li>
        <li><strong>服务器 Dockerfile 封装</strong></li>
        <li><strong>自动化 CICD 管线搭建</strong></li>
        <li><strong>性能测试脚本和测试自动化</strong></li>
    </ul>

    <p>此外，还分享了个人远程容器化开发环境。</p>

    <h2>技术栈</h2>

    <p>本项目涉及以下技术：</p>

    <ul>
        <li><strong>CMake 编译第三方库</strong></li>
        <li><strong>大型项目 CMakeLists.txt 编写</strong></li>
        <li><strong>开发环境容器化</strong></li>
        <li><strong>Docker 网络、卷、容器编排</strong></li>
    </ul>

    <h2>学习建议</h2>

    <p>本项目涵盖了 C++ 开发中常用的技术，通过完成本项目，你将能够掌握以上技能。</p>

    <h2>致谢</h2>

    <p>感谢 UP 主“恋恋风辰 zack”的无私分享：</p>

    <ul>
        <li><strong>B 站：</strong> <a href="https://space.bilibili.com/271469206">https://space.bilibili.com/271469206</a></li>
        <li><strong>博客：</strong> <a href="https://llfc.club/home">https://llfc.club/home</a></li>
    </ul>
    </div>
</MarkdownPostLayout>