---
import Hero from '../components/Hero.vue';
import PostList from '../components/PostList.astro';
import Profile from '../components/Profile.vue';
import RSSPassageListPre from '../components/RSSPassageListPre.vue';
import Layout from '../layouts/Layout.astro';

const pageTitle = "Momo's Blog"
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout pageTitle={pageTitle}>

	<div id="narrowContainer" class="renderIn beforeRenderIn flex flex-col items-center justify-center w-full max-w-[50rem] mx-auto ">
			<Profile client:load />
		<div class="flex flex-col flex-1 w-full justify-center items-center">
			<Hero client:load />
			<PostList client:load />

			<img class=" rounded-3xl" src="/assets/Agif.gif" alt="">
			<RSSPassageListPre client:load />
		</div>
	</div>
	
</Layout>

<script>
	
</script>