---
import FeedlyReader from "../components/FeedlyReader.vue"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div id="RSSContent" class=" min-h-screen">
        <h1>RSS内容</h1>
        <FeedlyReader client:load />

    </div>
</Layout>