---
const {post} = Astro.props
---

<li class="post-item flex flex-col w-[80%] justify-between my-4 bg-gray-200/30 hover:bg-gray-300/30  
      lg:size-110 lg:max-h-[25rem] transition-all duration-150 ease-in-out backdrop-blur-sm 
      rounded-2xl p-5" data-tags={post.frontmatter.tags ? post.frontmatter.tags.join(',') : ''}>
        <a href={post.url} class="hover:cursor-pointer">
          <img
            class="thumbnails w-[95%] h-45 m-4 mx-auto rounded-md max-sm:w-[90%]"
            src={post.frontmatter.image?.url || '/default-image.jpg'}
            alt={post.frontmatter.title || 'Post Image'}
          />
          <div class="flex flex-col gap-2">
            <h2 class="text-2xl max-sm:text-xl font-semibold max-sm:pb-5">{post.frontmatter.title}</h2>
            <p class="text-sm text-base-content/80">
              {post.frontmatter.description ? (post.frontmatter.description.slice(0, 50) + '...') : ''}
            </p>
          </div>
        </a>
        <div class="flex gap-2 self-end mt-6">
          <div class="flex gap-1 items-center text-sm text-base-content/80">
            <span>
                <svg t="1743309980325" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1827" width="16" height="16"><path d="M833 128c0-53-43-96-96-96h-16c-53 0-96 43-96 96H400c0-53-43-96-96-96h-16c-53 0-96 43-96 96H64c-35.3 0-64 28.7-64 64v736c0 35.3 28.7 64 64 64h896c35.3 0 64-28.7 64-64V192c0-35.3-28.7-64-64-64H833zM729 96c22.1 0 40 17.9 40 40v80c0 22.1-17.9 40-40 40s-40-17.9-40-40v-80c0-22.1 17.9-40 40-40z m-433 0c22.1 0 40 17.9 40 40v80c0 22.1-17.9 40-40 40s-40-17.9-40-40v-80c0-22.1 17.9-40 40-40z m632 832H96c-17.7 0-32-14.3-32-32V448h896v448c0 17.7-14.3 32-32 32z m32-544H64V224c0-17.7 14.3-32 32-32h96v32c0 53 43 96 96 96h16c53 0 96-43 96-96v-32h225v24c0 57.4 46.6 104 104 104s104-46.6 104-104v-24h95c17.7 0 32 14.3 32 32v160z" p-id="1828" fill="#707070"></path></svg>
            </span>
           {post.frontmatter.pubDate?.toString().slice(0, 10)}
          </div>
          <div class="flex gap-1 text-sm text-base-content/80">
            <span>
              <svg t="1743310063395" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3030" width="16" height="16"><path d="M867.46946 946.154914h-539.964494c-21.1699 0-38.228037 17.058137-38.228037 38.234178 0 21.175018 17.058137 38.234178 38.228037 38.234179h539.964494c21.175018 0 38.228037-17.058137 38.228037-38.234179 0-21.175018-17.053019-38.234178-38.228037-38.234178z m0 0M801.001583 373.848029c78.229956-135.871411 91.171212-325.268421 91.759776-332.91976 1.172011-14.113267-6.473187-28.231651-18.824854-35.288285-12.352691-7.056633-27.643087-7.056633-39.995777 0.588565-28.231651 18.230148-277.03888 179.395506-330.563455 270.56467-78.228932 131.75453-270.569788 483.493003-272.332411 487.021319-1.766717 2.94487-2.355282 5.884622-3.528317 8.824374L122.228996 954.978265c-10.58495 18.237313-4.116881 41.762495 14.118385 52.347445 5.879504 3.534458 12.351667 5.296058 18.818713 5.296057 12.941255 0 25.882511-7.056633 32.939144-19.409324l107.63976-185.867669c67.054394-45.879376 426.440112-296.448205 505.256585-433.496745z m-231.746021-58.820632C595.719472 269.736585 709.832419 182.684302 806.292523 116.216425c-10.58495 62.348948-31.759968 149.991843-71.167181 219.397425-45.879376 78.817497-219.395378 218.218249-356.443919 319.38994C441.029348 541.479408 523.96475 391.49473 569.255562 315.027397z m0 0" fill="#999999" p-id="3031"></path></svg>
            </span>
            {post.frontmatter.author}
          </div>
        
        </div>
      </li>

      <style>
        .thumbnails {
            object-fit: cover;
        }
        .backdrop-blur-sm {
  z-index: 10;
}
      </style>