---
import '../styles/md.css'
import '../styles/global.css'
import NavBar from '../components/NavBar.vue'
import Footer from '../components/Footer.vue'
---

<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body class=" bg-white/30 backdrop-blur-2xl">
     <NavBar client:load />
     <div
     class="markdown-content bg-white/80 backdrop-blur-sm p-10 rounded-xl shadow-2xl h-screen w-full max-w-[50rem] mx-auto overflow-y-auto"
    >
  
        <slot />

  
     </div>
     <Footer />
    </body>
</html>

<style scoped>
	body {
		background-image: url(../assets/backdrop.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
</style>