---
import '../styles/md.css'
import '../styles/global.css'
import NavBar from '../components/NavBar.vue'
import Footer from '../components/Footer.vue'
import PassageNavi from '../components/PassageNavi.vue'
import SideDrawer from '../components/SideDrawer.vue'
import IntroCard from '../components/IntroCard.vue'
import ScrolltoTop from '../components/ScrolltoTop.vue'
import SideIndex from '../components/SideIndex.astro'
import FooterIndex from '../components/FooterIndex.astro'



    const pageTitle = Astro.props.frontmatter.title 
    

   

---

<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/assets/momo_head.jpg" />
        <title>{pageTitle}</title>
    </head>
    <body>
    <SideDrawer client:load />
     <NavBar client:load />

     <div class="flex justify-between">
        <div class="flex-1  max-2xl:hidden">
            <SideIndex />
        </div>
         <div
         id="passageContent"
         class="renderIn beforeRenderIn markdown-content my-5 mx-auto flex-2 bg-white/80 p-10 rounded-xl h-fit min-h-screen shadow-2xl  w-full max-w-[50rem]"
             >
            <slot />
         </div>

             <PassageNavi client:load />
          
     </div>
        <div>
            
        </div>
    <FooterIndex />
     <IntroCard client:load />
     <ScrolltoTop client:load />
     <Footer />
     

     <script>
        import { renderingAnime } from "../utilities/anime";
        window.onload = renderingAnime

        const currentTheme = localStorage.getItem("userTheme")
        if (currentTheme) {
            let body = document.body
            body.setAttribute("data-theme", currentTheme);

        }
    </script>
     <!-- Put this part before </body> tag -->
		 <input type="checkbox" id="my_modal_7" class="modal-toggle" />
		 <div class="modal" role="dialog">
			 <div class="modal-box bg-white/80">
				<form action="/search" method="get">
					<input
					name="s"
					type="text"
					placeholder="搜索文章..."
					class="w-full rounded-full border border-gray-300 py-2 pl-4 pr-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 focus:rounded-xl"
								  />
				</form>
			 </div>
			 <label class="modal-backdrop" for="my_modal_7">Close</label>
		 </div>
    </body>
</html>

<style scoped>
	body {
		background-image: url(../assets/backdrop.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
   /* 毛玻璃效果 */
   #passageContent {
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.5);
   }

  
</style>