---
import '../styles/md.css'
import '../styles/global.css'
import NavBar from '../components/NavBar.vue'
import Footer from '../components/Footer.vue'
import PassageNavi from '../components/PassageNavi.vue'
import SideProfile from '../components/SideProfile.vue'
import SideDrawer from '../components/SideDrawer.vue'


---

<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body>
    <SideDrawer client:load />
     <NavBar client:load />

     <div class="flex justify-between">
        <div class="flex-1  max-2xl:hidden">
            <SideProfile client:load/>
        </div>
         <div
         id="passageContent"
         class="markdown-content my-5 mx-auto flex-2 bg-white/80 p-10 rounded-xl h-fit min-h-screen shadow-2xl  w-full max-w-[50rem]"
             >
            <slot />
         </div>

             <PassageNavi client:load />
          
     </div>

     <Footer />
    </body>
</html>

<style scoped>
	body {
		background-image: url(../assets/backdrop.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
   /* 毛玻璃效果 */
   #passageContent {
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.5);
   }
</style>